# darkice configuration file
#
# Copy this configuration file to /etc/darkice#.cfg

[general]

duration  	= 0 	# 0 means forever
bufferSecs	= 1
reconnect  	= yes 	

[input]

# this can be used if darkice is the sole user of audio capture device:

# Import notes for the "device =" setting on this preconfigured image
#
# Most configurations with one additional USB sound card added will 
# use "plughw:1,0" as the setting for the device.
#
# When adding 2 or more USB sound cards, your first USB sound card will
# start at plughw:0,0 and work it's way up n+1 (hw:1,0 hw:2,0 hw:3,0 and so on
#
# If adding just a single USB sound card for a broadcast, simply use the following:
# device = plughw:1,0
#
# You can verify card and device numbers by running the arecord -l command

device		= loop0	# hw:0,0 then hw:1,0 then hw:2,0 etc
sampleRate 	= {{ darkice_samplerate }}
bitsPerSample  	= 16 		
channel  	= 1 		# 1 for mono, 2 for stereo

[icecast2-0]

bitrateMode = cbr
format 		= mp3
bitrate  	= 96
quality  	= 1.0
channel  	= 1 	
lowpass  	= -1
highpass    = -1
sampleRate  = {{ darkice_samplerate }}

server 		= {{ darkice_servername }} 	# Your Master Server Name
port 		= {{ darkice_port }}          # 80 or 8080
password 	= {{ darkice_pass }}    	# Your Feed Password
mountPoint 	= {{ darkice_feed_mountpoint }}         # Your Feed Mount Point (Leave out the "/")
name 		= {{ darkice_feed_name }}       # Your Feed Name

