[Unit]
Description=op25
After=syslog.target network.target nss-lookup.target network-online.target darkice.service
Requires=network-online.target

[Service]
User=root
WorkingDirectory={{ op25_src_dir }}/op25/gr-op25_repeater/apps
ExecStart=/bin/bash -- ./op25-loopback.sh
RestartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
