"Sysname"   "Control Channel List"  "Offset"    "NAC"   "Modulation"    "TGID Tags File"    "Whitelist" "Blacklist" "Center Frequency"
"{{ sysname }}" "{{ control_channel_list }}"    "{{ offset }}"  "{{ NAC }}" "{{ modulation }}"  "channels.tsv"  "whitelist.tsv" "blacklist.tsv" "{{ center_frequency }}"
